body{
    background-image: url("../img/frontpage.jpg");
}

.underconstruction{
    background-image: url(../img/website_under_construction.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 13%;
}

.header{
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: Impact, Charcoal, sans-serif;
}

.inputcontainer{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
}

.username{
    margin-bottom: 5px;
    display: block;
}

.password{
    margin-bottom: 10px;
    display: block;
}

.loginbtn{
    display: block;
}

